<html>
<head>
  <title>About Rajendrasinh</title>
</head>
<body>
  <h1>
    <p>I'm Rajendrasinh Parmar</p>
    <p>This is my first Ruby on Rails project</p>
  </h1>
  <%= link_to 'Home', root_path%>
</body>
</html>